.App {
  
  color: rgb(42, 56, 68);
  text-align: center;
  font-family: sans-serif;
}
.add-input {
  margin-bottom: 10px
}
body {
  background-image: linear-gradient(#907FA4,#A58FAA,#A6D6D6,#EDEDD0);
  height:100vh
}
.movies-list {
  margin-top: 10%;
  margin-left: 10%;
  border-color: blue;
  border-style: groove;
  float: left;

  border-radius: 10px;
  width: 30%;
}
.watched-movies-list {
  margin-top: 7%;
  margin-right: 10%;

  float: right;
  border-color: blue;
  border-style: groove;
  border-radius: 10px;
  width: 30%;
}
.movie-item {
  margin: 10px;
}
.search {
  margin: 10px;
  margin-left: 37%;
  width: 60%;
  padding: 5px;
  align-self: left;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first-list {
margin-top:5%;

margin-left: 10%;

float:left;

width:30%;
}

.second-list{
  border: white;
    border-style: groove;
    
   border-radius: 10px
}